#container {
  margin-top: 7rem;
}
#nav {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  background-color: #19bebb;
}

#title {
  margin-top: -12vh;
  margin-bottom: -14vh;
  font-size: 28px;
}

#address {
  font-size: 22px;
}

#pic {
  font-size: 22px;
}

#nav10 {
  display: flex;
  margin-left: -41vh;
}

#nav15 {
  margin-left: 15vh;
  margin-right: 4vh;
}

#nav20 {
  margin-left: 12vh;
}

#pic {
  display: flex;
}

#phone {
  height: 5vh;
  width: 5vh;
}

#mail {
  height: 3vh;
  width: 5vh;
}

#info {
  margin-left: 1vh;
}

#nav1 {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  background-color: transparent;
  font-family: "Ropa Sans", sans-serif;
  text-decoration: none;
  margin-top:-20px;
  padding-top:1%;
  padding-bottom:1%;
  padding-left: 2%;
}

#names {
  width: 200;
}

#company {
  font-size: 30px;
  color:white;
  margin-top: 28px;
  margin-right: 20vh;
}

body {
  font-family: 'Ropa Sans', sans-serif;
  color: #2c3646;
  margin-left: 50vh;
  margin-right: 50vh;
  text-align: center;
}

h2 {
  color:#2c3646;
  text-align: left;
}

#Toolbar {
  background-color: #16bebb;
  color: #ffffff;
    min-width: 13%;
    font-size: 1.15rem;
    min-height: 10px;
}
#Toolbar1 {
  background-color: transparent;
  color: #ffffff;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
#color {
  color: #2c3646;
}

#root {
  width: 100%;
}

#backButton {
  margin-right: 30px;
}

#instructions {
  margin-top: 30px;
  margin-bottom: 30px;
}

#budget h1 {
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 700;
  margin-left: 5vh;
  margin-right: 5vh;
}

#budget header {
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin-left: -50vh;
  margin-right: -50vh;
}

#budget #budgetPaper{
  padding-top: 1px;
  padding-bottom: 1px;
  width:90%;
}

#paperPara4{
  width: 85%;
  padding-top: 5%;
  padding-bottom: 5%;
}

#home #pad {
	width: 200%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 43.5vh;
}

#home #pad1 {
	padding-top: 5%;
  padding-bottom: 5%;
  margin-right: 5%;
}

#home #pad2 {
	width: 200%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 10%;
  color:#2c3646;
}
.transparent_paper{
  background-color: rgba(255, 255, 255, 0.7) !important;
}
.transparent_paper2{
  background-color: rgba(255, 255, 255, 0.7) !important;
}
#login h1, h2, h3, h4, {
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 700;
}

#login header, .login2, .login3 {
  padding: 300px;
  margin-left: -50vh;
  margin-right: -50vh;
}

#login header {
  background: url("https://hdqwalls.com/download/nature-background-2560x1440.jpg") no-repeat fixed 50%/cover;
  height:40vh;
  text-align: center;
}

#login #loginPaper{
  padding-bottom: 1px;
  padding-top: 1px;
}

#login .login2 {
  background: url("https://pics.freeartbackgrounds.com/fullhd/Seascape_after_Sunset_Background-990.jpg") no-repeat fixed 50%/cover;
  text-align: center;
  height:40vh;
}

#insert {
  margin-top: -30vh;
}

.textfield {
  color: white;
}

#headerButtons {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 16vh;
  font-size: 18px;
  background-color: #e1e2e3;
}

#img_style {
  height: 103vh;
  margin:-8px;
  margin-left: -50vh;
  margin-right: -50vh;
}

#MenuProfile {
  font-family: 'Ropa Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  min-width: 13%;
  min-height: 10px;
  margin-top: 15px;
}

#home {
  margin:-8px;
  width:101.4%;
}

#home h1, h2, h3, h4, {
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 700;
  margin: 5vh;
}

#home h1 {
  font-size: 40px;
}

#home h5 {
  font-size: 20px;
}

#home header, .about, .about2, .about3{
  padding: 300px 0;
  margin-left: -50vh;
  margin-right: -50vh;
  height: 70vh;
}

#home .about4{
  margin-top: -38vh;
  margin-bottom: -80vh;
  text-align: center;
  color: white;
  height: 10vh;
}

#home .first {
  background: url("http://www.freecollegeshirts.com/uploads/4/8/5/4/48544395/college_orig.png");
  border-radius: 20px;
  padding: 200px 0;
  margin-top: 14vh;
  margin-left: -40vh;
  margin-right: -40vh;
  margin-bottom: -27vh;
  height: 25vh;
  text-align: center;
  position: center;
}

#home header {
  background: url("https://i2.wp.com/wallpaperswide.com/download/freedom-wallpaper-5120x3200.jpg?resize=1060%2C663") no-repeat fixed center / cover;
  text-align: center;
  margin-top: 39vh;
}

#problems {
  font-size: 3em;
}

#home .about {
  background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/XHJ9Lcu/videoblocks-independent-woman-traveller-with-arms-raised-on-top-of-mountain-looking-at-view-hiker-girl-lifting-arm-up-celebrating-scenic-landscape-enjoying-vacation-travel-adventure-nature-romsdal-valley-norway_h_xnix5eog_thumbnail-full01.png") no-repeat fixed center / cover;
  text-align: left;
}

#home .about2 {
  background: url("https://alfahir.hu/sites/default/files/indexfoto/student-debt.jpg") no-repeat fixed center / cover;
  text-align: center;
}

#home .about3 {
  background: url("https://www.wallpaperflare.com/static/732/666/472/nature-landscape-waterfall-people-wallpaper-preview.jpg") no-repeat fixed center / cover;
  text-align: right;
}

#calcs {
  margin-left: -50vh;
  margin-right: -50vh;
}

#arrow {
  position: absolute;
  height: 7vh;
  margin-top: 29.5vh;
}

#yourBudgetGraph{
  float: left;
  width:50%;
}

#idealBudgetGraph{
  float: left;
  width:50%;
}

li {
  height: 50px;
  font-size: 30px;
}


#paper5 {
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-left: 70vh;
  margin-right: 70vh;
  color: white;
  border-radius: 20%;

}

#box {
  padding-left: 20vh;
  padding-right: 20vh;
}

#cred {
  background-color: white;

}

.calcfourList{
  list-style-type: decimal;
}

#results{
font-size:30px;
}

#resultsPara{
font-size:25px;
margin-right: 80px;
margin-left: 80px;
text-align: justify;
}

#head{
  font-size: 24px;
  color:black;
}

#bod{
  font-size: 18px;
  color:grey;
}

#copyright {
  color:grey;
  text-align: center;
}

#copy {
  padding-top: 5vh;
}

#box {
  padding-left: 10vh;
  padding-right: 10vh;
}

#cred {
  margin: 5vh;
}

.theList:hover {
	color: white;
	background-color: #79A2B6;


}

.theList {
	color:black;
}
